@model IEnumerable<MusicStore.Models.Genre>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Music Genre @Model.Count()</h2>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="/Store/Browse?genre=@item.Name">@item.Name</a></li>
    }
</ul>
